name: Code Quality Betterer

on: [push]

env:
  FORCE_COLOR: '1'
  CHATOPS_RESULTS_FILE_UPDATE_COMMAND: "betterer:update"
  BETTERER_CONFIG_FILE_PATH: ".betterer"
  BETTERER_RESULTS_FILE_NAME: ".betterer.results"
  BETTERER_RESULTS_FILE_PATH: ".betterer.results"

jobs:
  code-quality-check:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.3
      - name: Install dependencies
        run: yarn --frozen-lockfile --non-interactive --no-progress
      - name: Incremental code quality check
        uses: Evilweed/betterer-github-action@v1.0.0
        with:
          chatops_results_file_update_command: ${{ env.CHATOPS_RESULTS_FILE_UPDATE_COMMAND }}
          betterer_results_file_name: ${{ env.BETTERER_RESULTS_FILE_NAME }}
          args: --config "/github/workspace/${{ env.BETTERER_CONFIG_FILE_PATH }}" --results "/github/workspace/${{ env.BETTERER_RESULTS_FILE_PATH }}" --reporter /build/custom-simple-reporter.js

